.git
package-lock.json
node_modules
.cache
public
dist
*.map
*.pem
*.crx
*.html
*.txt
*.csv
.mockyeah
*.xml
*.log
*.png
*.jpg
*.jpeg
*.gif
Dockerfile
.nvmrc
.prettierignore
.eslintrc
.editorconfig
.idea
.vscode
.gitignore
.npmignore
.DS_Store
